* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  display: flex;
}

#first-section {
  background-color: blueviolet;
  width: 60vw;
  height: 100vh;
}

#first-section > div > h1 {
  font-size: 70px;
  line-height: 80px;
  color: #5D5D7D;
}

#first-section > div > p {
  font-size: 28px;
  line-height: 48px;
  color: #5D5D7D;
  mix-blend-mode: normal;
  opacity: 0.6;
}

#first-section > div > button {
  width: 269px;
  height: 62px;
  background: #9499EA;
  box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
  border-radius: 35px;
  border: none;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

#second-section {
  width: 40vw;
  height: 100vh;
  background-image: url('./images/Background-5-10.png');
}

#second-section > ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 41px;
  padding-top: 24px;
}

#second-section ul > li > a {
  text-decoration: none;
  color: #5D5D7D;
  font-size: 28px;
  line-height: 41px;
}